* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
}

.topbar {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-items: center;
    padding: 10px 20px;
}

.topbar img {
    width: 90px;
    justify-content: center;
}

.heading {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../assets/heading2.jpg) no-repeat;
    background-size: cover;
    height: 500px;
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;
}

.heading .left {
    text-align: center;
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.heading h1 {
    font-size: 40px;
    font-weight: 700;
}

.heading p {
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
}

.heading button {
    background: white;
    border: none;
    outline: none;
    color: #0066cb;
    border-radius: 10px;
    padding: 10px 15px;
    font-weight: 500;
    transition: .5s;
    font-size: 20px;
    margin-top: 30px;
}

.heading button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.heading .right {
    margin: auto;
}

.heading img {
    width: 350px;
    margin-top: 50px;
}

.cover-container{
   background-color: #0066cb;
    background-size: cover;
    height: 500px;
}

.cover{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 60% 40%;
    color: white;
    align-items: center;
}

.cover .left-side{
    text-align: center;
    margin-top: -100px;
}

.cover .left-side h1{
    font-size: 40px;
    margin-bottom: 5px;
}

.cover .left-side p{
    padding: 0 10px 0 10px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.cover .left-side button {
    padding: 10px 15px;
    margin-top: 20px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: .3s;
    font-size: 18px;
}

.cover .left-side button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.cover .right-side img{
    width: 350px;
    margin-top: 40px;
}

.features {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.features .title {
    text-align: center;
    font-size: 50px;
    margin-top: 120px;
    color: #4a4a4a;
    font-weight: 700;
}

.features .title-des {
    text-align: center;
}

.features .content {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    gap: 50px;
    justify-content: center;
    margin-top: 40px;
}

.features .section {
    text-align: center;
    border-radius: 10px;
    transition: .3s;
    padding: 40px 10px 40px 10px;
}

.features .section:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.features .section img {
    width: 30px;
}

.features .section h1 {
    font-size: 20px;
    font-weight: 600;
}

.features .section p {
    margin-top: 5px;
}

.f-more {
    background: #0066cb;
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
    padding: 10px 30px;
    font-weight: 500;
    transition: .5s;
    font-size: 18px;
    font-weight: 300;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 30px;
    transition: .3s;
}

.f-more:hover {
    cursor: pointer;
    background-color: #004e9b;
}

.usage {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 50px;
    background-color: rgba(0, 124, 187, 0.5);
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}

.usage .left {
    margin: auto;
}

.usage .right {
    width: fit-content;
    height: fit-content;
    text-align: center;
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    top: 45%;
    transform: translate(0, -50%);
    gap: 30px;
}

.usage img {
    width: 500px;
}

.usage h1 {
    font-size: 50px;
    font-weight: 600;
}

.usage h2 {
    font-size: 20px;
    font-weight: 300;
}

.download {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.download h1 {
    font-family: 'Righteous', cursive;
    font-weight: 300;
    font-size: 30px;
}

.download img {
    position: relative;
    margin-top: 20px;
    transition: .3s;
}

.download img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.download .google {
    padding-right: 50px;
}

.achievements {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.achievements h1 {
    font-size: 50px;
    margin-top: 40px;
    color: #4a4a4a;
    font-weight: 700;
}

.achievements img {
    width: 800px;
    position: relative;
}

.footer {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #242424;
    margin-top: 50px;
}

.footer .top {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding: 20px;
}

.footer .left {
    text-align: center;
    border-right: 1px solid #707070;
}

.footer .top img {
    width: 30px;
}

.footer h2 {
    font-size: 17px;
    color: white;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 5px;
}

.footer form input {
    width: 200px;
    padding: 2px;
    border: none;
}

.footer form button {
    background-color: white;
    outline: none;
    border: none;
    padding: 2px 8px;
}

.footer form button:hover {
    cursor: pointer;
    background-color: #d7d7d7;
}

.footer .smi img {
    margin-top: 20px;
    width: 200px;
}

.footer .smi img:hover {
    cursor: pointer;
}

.footer ul {
    color: white;
    font-weight: 300;
    list-style: none;
    text-align: center;
}


.footer ul li {
    color: white;
    margin-top: 10px;
}

.footer ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer p {
    color: white;
    text-align: center;
    background-color: black;
}

.footer .rights {
    padding: 20px;
}

.footer .owner {
    color: #8f8f8f;
    padding-bottom: 10px;
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .heading p {
        font-size: 16px;
    }

    .features .title {
        margin-top: 100px;
    }

    .features .section h1 {
        font-size: 20px;
        font-weight: 500;
    }

    .features .section h2 {
        font-size: 10px;
        font-weight: 500;
    }

    .usage h1 {
        font-size: 30px;
    }

    .usage h2 {
        font-size: 20px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .cover .left-side h1{
        font-size: 35px;
    }

    .cover .left-side p{
        font-size: 15px;
    }

    .cover .right-side img{
        width: 300px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .cover-container{
        height: auto;
    }

    .cover{
        grid-template-columns: 100%;
        justify-items: center;
    }

    .cover .left-side{
        margin-top: 0px;
        margin-top: 30px;
    }

    .cover .right-side img{
        width: 350px;
        margin-top: 80px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .heading {
        grid-template-columns: 100%;
        height: 850px;
    }

    .heading .left {
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
        width: 100%;
        text-align: center;
        top: 20%;
    }

    .heading h1 {
        font-size: 35px;
        font-weight: 700;
    }


    .heading p {
        font-size: 13px;
    }

    .heading p {
        padding: 0 25px 0 25px;
    }

    .heading p span {
        display: none;
    }

    .heading p:after {
        content: 'iFit is the free fitness and health application that can help to maintain your healthy life and reach yoar goals.';
    }


    .heading .right {
        margin: auto;
    }

    .heading img {
        margin-top: 30px;
        width: 300px;
    }

    .features .title {
        margin-top: -5px;
        font-size: 35px;
    }

    .features .title-des {
        padding: 0 25px 0 25px;
    }

    .features .title-des span {
        display: none;
    }

    .features .title-des:after {
        content: 'Do you need to maintain and improve your fitness level easily? If so, you are in the right place. We will provide the best features to reach your goal.';
    }

    .features .content {
        grid-template-columns: 80%;
        gap: 30px;
    }

    .features .section {
        padding: 40px 10px 60px 10px;
    }

    .features .section h1 {
        font-size: 20px;

    }

    .features .section h2 {
        font-size: 15px;
    }

    .usage {
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
    }

    .usage img {
        max-width: 90%;
    }

    .usage .right {
        width: 100%;
        margin-top: 30px;
    }

    .usage h1 {
        font-size: 45px;
        font-weight: 500;
    }

    .usage h2 {
        font-size: 20px;
        font-weight: 300;
    }

    .achievements {
        text-align: center;
    }

    .achievements h1 {
        font-size: 35px;
        margin-top: 40px;
        color: #4a4a4a;
        font-weight: 700;
    }

    .achievements img {
        max-width: 90%;
        margin-top: 20px;
        position: relative;
    }

    .achievements p {
        padding: 0 25px 0 25px;
    }

    .achievements p span {
        display: none;
    }

    .achievements p:after {
        content: 'Win awards and badges by reaching your weight loss goals. Whole community celebrates it with you. Members use it to inspire their own journey.';
    }

    .download h1 {
        padding-bottom: 20px;
    }

    .download img {
        width: 50%;
        position: relative;
        margin-top: 20px;
        display: block;
        margin: auto;
        margin-top: 10px;
    }

    .download .google {
        padding-right: 0px;
        padding-bottom: 10px;
    }

    .footer .top {
        display: grid;
        grid-template-columns: 100%;
        padding: 20px;
    }

    .footer .left {
        border-right: none;
    }

    .footer .left img {
        width: 40px;
    }

    .footer form {
        position: relative;
    }

    .footer form input {
        width: 85%;
        padding: 9px;
    }

    .footer form button {
        position: absolute;
        display: block;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 10px;
        padding: 8px 20px;
    }

    .footer .smi img {
        width: 250px;
        margin-top: 70px;
    }

    .footer ul {
        margin-top: 30px;
    }

    .footer ul li {
        display: inline;
        padding: 10px;
    }


}